@import "../../../src/main/resources/META-INF/resources/components/header.css";
@import "../../../src/main/resources/META-INF/resources/components/grid.css";
@import "../../../src/main/resources/META-INF/resources/components/homePage.css";
@import "../../../src/main/resources/META-INF/resources/components/login.css";
@import "../../../src/main/resources/META-INF/resources/components/form.css";
@import "../../../src/main/resources/META-INF/resources/components/settingsPage.css";

:root {
    --lumo-tint-10pct: rgba(0, 0, 0, 0.1);
    --lumo-body-text-color: black;
    --vaadin-grid-cell-background: white;
    --lumo-base-color: white;
    --blue-color: #082A5C;
    --black-color: #262626;
    --background-color: #B1CDE7;
    --box-shadown: #1E1E1E;
    --button-hover-color: rgba(8, 42, 92, 0.95);
    
    --text-black-color: #1A1A1A;
    --text-home-black-color: #333333;
    --text-blue-color: #43499F;
    
    --lumo-contrast-60pct: var(--blue-color);
    --lumo-secondary-text-color: --lumo-body-text-color;
    --lumo-primary-text-color:  #43499F;
    --vaadin-input-field-placeholder-color: rgba(0, 0, 0, 0.3);
    
    font-size: 14px;
}

body {
    background-color: var(--background-color);
}

vaadin-dialog-overlay > [slot="title"] {
    color: var(--black-color);
}

.error-dialog vaadin-button {
    align-self: end;
    font-weight: bold;
    
    color: white;
    border: 1px solid var(--black-color);
    background-color: var(--blue-color);
    

    transition: 0.3s;
}

.error-dialog vaadin-button:hover {
    cursor: pointer;
}

.error-dialog vaadin-vertical-layout {
    padding: 0;
}

.error-dialog h2 {
    color: #DE241A;
}

.error-dialog p {
    color: #000;
    font-size: 1.2rem;
}