.button-form {
    font-weight: bold;
    color: var(--black-color);
    border: 1px solid var(--black-color);
    background-color: var(--blue-color);
    
    padding: 1.6rem 2.6rem;
    margin-top: 3rem;
}

vaadin-text-field::part(input-field){
    background-color: white;
    border: 1px solid var(--text-black-color);
}

vaadin-text-field vaadin-icon {
    color: var(--text-black-color);
}